@tailwind base;
@tailwind components;
@tailwind utilities;
nav{
  background-image: url(./bg-sidebar-mobile.svg);
  
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width:768px) {
  nav{
    background-image: url(./bg-sidebar-desktop.svg);
    
    background-size: cover;
    background-repeat: no-repeat;
  }
}